/* color variable definitions to test */

$palette-1-color1: rgba(9, 64, 116, 1);
$palette-1-color2: rgba(197, 209, 235, 1);
$palette-1-color3: rgba(146, 175, 215, 1);
$palette-1-color4: rgba(90, 118, 132, 1);
$palette-1-color5: rgba(28, 35, 33, 1);

$palette-2-color1: rgba(252, 236, 201, 1);
$palette-2-color2: rgba(252, 176, 179, 1);
$palette-2-color3: rgba(249, 57, 67, 1);
$palette-2-color4: rgba(126, 178, 221, 1);
$palette-2-color5: rgba(68, 94, 147, 1);

@mixin swatch-style {
  border-radius:50px;
  text-align: center;
  vertical-align: text-bottom;
  height: 100px;
  width: 100px;
}

#palette1,
#palette2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    width: 800px;
}

.color-item {
  flex: 1;

  p {
    font-size: 75%;
  }
}
.p1-swatch1 {
  @include swatch-style();
  background-color: $palette-1-color1;
}

.p1-swatch2 {
  @include swatch-style();
  background-color: $palette-1-color2;
}

.p1-swatch3 {
  @include swatch-style();
  background-color: $palette-1-color3;
}

.p1-swatch4 {
  @include swatch-style();
  background-color: $palette-1-color4;
}

.p1-swatch5 {
  @include swatch-style();
  background-color: $palette-1-color5;
}

.p2-swatch1 {
  @include swatch-style();
  background-color: $palette-2-color1;
}

.p2-swatch2 {
  @include swatch-style();
  background-color: $palette-2-color2;
}

.p2-swatch3 {
  @include swatch-style();
  background-color: $palette-2-color3;
}

.p2-swatch4 {
  @include swatch-style();
  background-color: $palette-2-color4;
}

.p2-swatch5 {
  @include swatch-style();
  background-color: $palette-2-color5;
}

