a {
  transition: color .15s cubic-bezier(.33,.66,.66,1);
  color: inherit;
  text-decoration: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;

  strong {
    border-bottom: 3px solid #b4e7f8;
    box-shadow: inset 0 -6px 0 #b4e7f8;
    color: inherit;
    transition: background .15s cubic-bezier(.33,.66,.66,1);
  }

  .link-underline {
    border-bottom: 3px solid #b4e7f8;
    box-shadow: inset 0 -4px 0 #b4e7f8;
    color: inherit;
    transition: background .15s cubic-bezier(.33,.66,.66,1);
  }

}
