/* Informational messages */
@mixin messageContent {
  border: 1px solid black;
  border-radius: 10px;
  display: block;
  padding: .5em;
  margin: 1em 0;
}

.message {
  @include messageContent();
}

  .info {
    @include messageContent();
    background-color: lightblue;
  }

  .warning {
    @include messageContent();
    background-color: lightyellow;
  }

  .danger {
    @include messageContent();
    background-color: indianred;
  }
