<div class="card card--large">
    <section class="card-header">
        <h2>{{title}}</h2>
    </section>
    <section class="card-body">
        {{content}}
    </section>
    <section class="card-footer">
        <h3>Links and resources</h3>
        {{footer-content}}
    </section>
</div>
