<div class="card">
    <section class="card-header">
        <h2>{{title}}</h2>
    </section>
    <section class="card-body">
        {{body-content}}
    </section>
    <section class="card-footer">
        <p>Optional</p>
        {{footer-content}}
    </section>
</div>
