<form>
    <div class="row">
        <label>Project Name:
            <input type="text" placeholder="Project Name">
        </label>
    </div>

    <div class="row">
        <div class="medium-6 columns">
            <label>Project Description
                <textarea placeholder="Project Description"></textarea>
            </label>
        </div>
    </div>

    <div class="row">
        <fieldset class="large-6 medium-6 columns">
            <legend>Project Stage</legend>
            <input type="radio" name="stage" value="Idea" id="stageIdea"><label for="stageIdea">Idea</label>
            <input type="radio" name="stage" value="Draft" id="stageDraft"><label for="stageDraft">Draft</label>
            <input type="radio" name="stage" value="Preview" id="stagePreview"><label for="stagePreview">Preview</label>
            <input type="radio" name="stage" value="Ready" id="stageReady"><label for="stageReady">Ready</label>
        </fieldset>
    </div>

    <div class="row">
        <div class="medium-6 columns">
            <label>Input Label
                <input type="text" placeholder=".medium-6.columns">
            </label>
        </div>
    </div>
</form>
