<h1>Color Palettes</h1>

<p>These are the two color palettes that I'm considering. They are not final as I like working in blacks and shades of gray. </p>


<h2>Palette 1</h2>

<p>Cooler palette made of blues and grays.</p>
<div class="palette1">
    <div class="color-item">
        <div class="swatch p1-swatch1"></div>
        <p>rgba(9, 64, 116, 1)</p>
    </div>

    <div class="color-item">
        <div class="swatch p1-swatch2"></div>
        <p>rgba(197, 209, 235, 1)</p>
    </div>

    <div class="color-item">
        <div class="swatch p1-swatch3"></div>
        <p>rgba(146, 175, 215, 1)</p>
    </div>

    <div class="color-item">
        <div class="swatch p1-swatch4"></div>
        <p>rgba(90, 118, 132, 1)</p>
    </div>

    <div class="color-item">
        <div class="swatch p1-swatch5"></div>
        <p>rgba(28, 35, 33, 1)</p>
    </div>
</div>

<h2>Palette 2</h2>

<p>Warmer palette with more colors.</p>

<div class="palette2">
    <div class="color-item">
        <div class="swatch p2-swatch1"></div>
        <p>rgba(252, 236, 201, 1)</p>
    </div>

    <div class="color-item">
        <div class="swatch p2-swatch2"></div>
        <p>rgba(252, 176, 179, 1)</p>
    </div>

    <div class="color-item">
        <div class="swatch p2-swatch3"></div>
        <p>rgba(249, 57, 67, 1)</p>
    </div>

    <div class="color-item">
        <div class="swatch p2-swatch4"></div>
        <p>rgba(126, 178, 221, 1)</p>
    </div>

    <div class="color-item">
        <div class="swatch p2-swatch5"></div>
        <p>rgba(68, 94, 147, 1)</p>
    </div>
</div>

<!--
--palette-2-color1: ;
--palette-2-color2: ;
--palette-2-color3: ;
--palette-2-color4: ;
--palette-2-color5: ;
