@charset "UTF-8";
// Remove the import below if you don't want normalize on your stylesheet
//@import 'normalize/import-now';
// Modular scale import
@import 'modular-scale/modular-scale';
// Coloe variables
@import 'partials/root';
// Mixins
@import 'partials/mixins';
// Import generic styles
@import 'partials/generic';
// Font declarations
@import 'partials/fonts';
// Media queries
@import 'partials/mq';
// Include headings partials
@import 'partials/headings';
// flexbox partials
@import 'partials/flexbox';
// images partials
@import 'partials/images';
// import columns
@import 'partials/columns';
// import table stuff
@import 'partials/tables';
// import media references
@import 'partials/video';
// import messages partials
@import 'partials/messages';
// If we add this piece of shit it may work after all, right?
@import 'partials/colors';
// same with this shit
@import 'partials/_grid-gallery';
@import 'partials/cards';
// import grid mixins. place it before items that use the mixins
@import 'partials/grids';

/* Monospaced font for code samples */
@include font-declaration('notomono-regular',     '/fonts/notomono-regular-webfont', normal, normal);
/* Regular font */
@include font-declaration('notosans-regular',     '/fonts/notosans-regular-webfont', normal, normal);
/* Bold font */
@include font-declaration('notosans-bold',        '/fonts/notosans-bold-webfont', 700 , normal);
/* Italic Font */
@include font-declaration('notosans-italics',     '/fonts/notosans-italic-webfont', normal , italic);
/* bold-italic font */
@include font-declaration('notosans-bolditalic',  '/fonts/notosans-bolditalic-webfont', 700 , italic);

// Local variables for modular scale
$ms-base: 1em;
$ms-ratio: 1.25;

.container {
    // margin: 0 auto;
    width: 48em;
}

.flexbox-row-forward {
    @include flex_row_forward();
}

.flexbox-row-back {
    @include flex_row_back();
}

.flexbox-col-forward {
    @include flex_column_forward();
}

.flexbox-col-back {
    @include flex-column_back();
}

.flex-item {
    @include flex_item();
}


/* Column predefined classes */
.columns-2 {
    @include column-attribs(2, 2em);
}

.columns-3 {
    @include column-attribs(3);
}

.columns-20em-fixed {
    @include fixed-column-attribs(20em);
}

.columns-10em-fixed {
    @include fixed-column-attribs(10em);
}

// import essay layouts
@import 'partials/essays';


/* Include media queries for your project here*/
@import 'partials/mq';
